<div class="m-auto max-w-lg">
    <h1 class="text-3xl py-7 font-semibold">Shopping Cart</h1>
    <div id="errorContainer"></div>
    <div data-controller="cart">
        <div id="total" class="text-lg my-4"></div>
        <button class="btn btn-primary" data-action="click->cart#checkout" id="checkout">Check Out</button>
    </div>
</div>