<div class="justify-center flex flex-col gap-10 sm:flex-row">
    <figure>
        <img
        src= <%= @product.image.present?? @product.image : "https://placehold.co/500x600.webp" %>
        alt= "product name" />
    </figure>
    <div class="flex flex-col justify-between">
        <div>
            <p class="font-semibold text-4xl mb-6"><%= @product.name %></p>
            <p class="text-3xl mb-4">$<%= @product.price%>
            <p><%= @product.description %></p>
        </div>
        <div class="pb-10">
            <button class="btn btn-primary">Add to Cart</button>            
        </div>
        

    </div>
</div>
